@import "tailwindcss";

@plugin "./daisyui/daisyui.js" {
    themes: light --default, dark --prefersdark;
}

@plugin "./daisyui/daisyui-theme.js" {
    name: "datastar";

    --color-base-100: "#0b1325";
    --color-base-200: "#1e304a";
    --color-base-300: "#3a506b";
    --color-primary: "#c9a75f";
    --color-secondary: "#bfdbfe";
    --color-accent: "#7dd3fc";
    --color-neutral: "#444";
    --color-neutral-content: "#fff";
    --color-info: "#0369a1";
    --color-success: "#69c383";
    --color-warning: "#facc15";
    --color-error: "#e11d48";
  
}