package pages

import (
	"github.com/starfederation/datastar-go/datastar"
	"northstar/features/common/components"
	"northstar/features/common/layouts"
)

templ IndexPage(title string) {
	@layouts.Base(title) {
		<div class="flex flex-col w-full min-h-screen">
			@components.Navigation(components.PageIndex)
			<div id="todos-container" data-init={ datastar.GetSSE("/api/todos") }></div>
		</div>
	}
}
